body {
	margin-top: 20px;
}

.sidebar {
	background-color: #eee;
	padding: 20px;
	margin-top: 5px;
	border-radius: 15px;
}

.btn {
	color: white;

}
img {
	margin: 5px;
	width: 150px;
	height: 150px; 
}